#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.hover-title {
  display: flex;
  justify-content: center;
  font-size: 6rem;

  position: relative;
  z-index: 3;
}

.hover-title span {
  display: inline-block;
  transition: transform 0.3s, color 0.3s;
  margin: 0 5px;
  color: rgb(250, 50, 50);
  text-shadow: 2px 2px black;
  user-select: none;
}

.hover-title span:hover {
  transform: scale(1.5);
  cursor: url("/cursor.cur"), auto;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.glass-effect {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  backdrop-filter: blur(2px);
  pointer-events: none;
}

.linkedin-logo {
  position: absolute;
  left: 20px;
  top: 10px;
  z-index: 3;
  width: 50px;
}

.github-commits-container {
  background-color: white;
  color: black;
  z-index: 3;
  position: absolute;
  top: 20px;
  right: 10px;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  box-shadow: rgb(245 179 132) 0px 10px 13px -7px,
    rgba(0, 0, 0, 0) 5px 5px 15px 5px;
}

.commits-list {
  height: 135px;
  text-align: left;
  justify-content: center;
  align-items: center;
  background-color: rgb(255 239 253);
  border-radius: 4px;
  padding: 0 15px;
}

@media screen and (max-width: 768px) {
  .hover-title {
    font-size: 3rem;
  }
  .github-commits-container {
    display: none;
  }
}


@media screen and (max-height: 950px) {
  .github-commits-container {
    display: none;
  }
}
