:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff3c9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root,
input[type="checkbox"],
label {
  cursor: url("/cursor_color.cur"), auto;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  color: rgb(123, 0, 255);
  cursor: url("/cursor.cur"), auto;
}

input,
button {
  background-color: rgb(255, 225, 246);
  color: rgb(67, 49, 49);
  border: 1px solid rosybrown;
}

div::-webkit-scrollbar {
  width: 10px;
  height: 0;
}

div::-webkit-scrollbar-thumb {
  background-color: #f9a6d9;
  border-radius: 50px;
}

div::-webkit-scrollbar-thumb:hover {
  background-color: #e179d3;
}
